<div class="new-author-outer-container">
  <div class="new-author-container">
    <div class="new-author-header">
      <h1 class="new-author-title">Editing author</h1>
    </div>
    <div class="new-author-form-container">
      <%= render "form", author: @author %>
    </div>
  </div>
</div>
