<div class="new-client-outer-container">
  <div class="new-client-container">
    <div class="new-client-header">
      <h1 class="new-client-title">New Client</h1>
    </div>
    <div class="new-client-form-container">
      <%= render "form", client: @client %>
    </div>
  </div>
</div>

