<div class="jumbotrons-outer-container">
  <div class="jumbotrons-container">
    <div class="jumbotron main-jumbotron">
      <h1>Welcome to BiblioSnoopy</h1>
      <p class="lead">Register documents, clients, authors, and loans of the library.</p>
      <a class="btn btn-primary btn-lg" href="/loans" role="button">See Loans</a>
    </div>

    <div class="mini-jumbotrons">
      <div class="jumbotron mini-jumbotron">
        <h2>Documents</h2>
        <p>See all the documents available in the library.</p>
        <a class="btn btn-secondary" href="/documents" role="button">View Documents</a>
      </div>
      <div class="jumbotron mini-jumbotron">
        <h2>Authors</h2>
        <p>Discover all the authors contributing to the library.</p>
        <a class="btn btn-secondary" href="/authors" role="button">View Authors</a>
      </div>
      <div class="jumbotron mini-jumbotron">
        <h2>Clients</h2>
        <p>Meet our valued clients.</p>
        <a class="btn btn-secondary" href="/clients" role="button">View Clients</a>
      </div>
    </div>
  </div>
</div>