<div class="new-document-outer-container">
  <div class="new-document-container">
    <div class="new-document-header">
      <h1 class="new-document-title">Editing Document</h1>
    </div>
    <div class="new-document-form-container">
      <%= render "form", document: @document %>
    </div>
  </div>
</div>
