<div class="new-loan-outer-container">
  <div class="new-loan-container">
    <div class="new-loan-header">
      <h1 class="new-loan-title">New Loan</h1>
    </div>

    <%= render "form", loan: @loan %>
  </div>
</div>

