.new-client-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.new-client-container {
    width: 75%;
    min-width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.new-client-header, .client-show-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.new-client-title {
    margin: 0;
}

.new-client-form-container {
    width: 100%;
}

.new-client-errors {
    margin-bottom: 20px;
}

.new-client-errors-title {
    margin-bottom: 10px;
}

.new-client-errors-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.new-client-form-group {
    margin-bottom: 15px;
}

.new-client-label {
    display: block;
    margin-bottom: 5px;
}

.new-client-input {
    width: calc(100%);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.new-client-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.new-client-back-link {
    display: inline-block;
    padding: 8px 12px;
    background-color: #6c757d;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.new-client-back-link:hover {
    background-color: #5a6268;
}

.new-client-submit-btn {
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.new-client-submit-btn:hover {
    background-color: #0056b3;
}







.client-show-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.client-show-container {
    width: 75%;
    min-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.client-show-header {
    margin-bottom: 20px;
}

.client-show-title {
    margin: 0;
}

.client-show-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.client-show-action {
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.client-show-action:hover {
    background-color: #0056b3;
}

.client-show-action.destroy-btn {
    background-color: #dc3545; /* Red color */
}
